/*1250px media query width*/

nav {
  height: 80px;
}

#nav-logo {
  height: 64px;
}

.nav-item {
  margin: 0px 38px 0px 38px;
  color: #000;
  text-align: center;

  /* M3/label/large */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

#nav-btn {
  width: 145px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ffe5e5;
  border: none;
  color: #000;
}

#nav-btn-txt {
  display: flex;
  width: 127.297px;
  height: 34.836px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;

  /* M3/label/large */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

#nav-login {
  width: 145px;
  height: 50px;
  flex-shrink: 0;
  background: transparent;
  border-radius: 8px;
  border: none;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857 */
  letter-spacing: 0.1px;
}

#home-bg {
  padding: 0px;
  width: 100%;
}

#home-highlights-bg {
  padding: 0px;
  width: 100%;
}

#highlights-container {
  display: flex;
  position: relative;
  justify-content: center;
}

#highlight-row {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  align-items: flex-start;
  gap: 39px;
  max-width: 1440px;
  margin-top: 1rem;
}

#highlight-row > .col {
  max-height: 328px;
}

.col-title {
  text-align: center;
  font-family: Roboto;
  font-size: 39.595px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 22px;
  margin-top: 10%;
}

.col-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0rem 5rem 0rem 5rem;
  color: #000;
  word-wrap: normal;
  font-family: Roboto;
  font-size: 19.798px;
  font-style: normal;
  font-weight: 100;
  line-height: 28.282px; /* 142.857% */
  letter-spacing: 0.141px;
}

/*DISCOVER ROW STARTS */

#discover-row {
  display: flex;
  height: 940px;
}

#discover-bg {
  width: 100%;
  padding: 0px;
}

.discover-container {
  display: inline-flex;
  max-width: 1440px;
  position: absolute;
}
#discover-app-preview {
  width: 353.985px;
  height: 758.18px;
  padding: 65px 98px 116px 186px;
}

#discover-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 230px 87px 547px 638px;
  color: #f0f0f0;
}

#discover-header > h1 {
  font-family: Righteous;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.799px; /* 259.375% */
}

#discover-header > p {
  width: 600px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

/*SEAMLESS EXPERIENCE*/
#experience-container {
  display: flex;
  height: 940px;
}

#experience-app-preview {
  position: absolute;
  width: 353.985px;
  height: 758.18px;
  padding: 65px 156px 104px 930px;
}

#experience-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 255px 684px 255px 156px;
  color: #f0f0f0;
}

#experience-header > h1 {
  font-family: Righteous;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.799px; /* 259.375% */
}

#experience-header > p {
  width: 600px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

#get-started {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  width: 222px;
  height: 56px;
  background-color: #b20000;
  color: #ffe5e5;
  border: none;
}

#app-logo {
  width: 100px;
  height: 90px;
}

footer {
  position: absolute;
}
